body {
  background-color: #0096c7;
}
.counter-container {
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  padding: 0 15px;
}
.counter-box {
  text-align: center;
  background-color: #fff;
  padding-bottom: 50px;
}
.counter-btn{
  width: 100%;
  padding: 15px;
}
.btn{
  width: 100%;
  padding: 8px 0;
  border: 2px solid #0096c7;
  background-color: #fff;
  color: #0096c7;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover{
  background-color: #0096c7;
  color: #fff;
}
.counter-lists{
  padding: 5px 50px;
}
.btn-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 15px 0;
  border-top: 2px solid #0096c7;
  border-bottom: 2px solid #0096c7;
}
.btn-list h1{
  margin: 0 10px;
  color: #0096c7;
}